BPEL_Client/BPEL_Client/Service References/ServiceReference3/BPEL_LOAN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://correlation.bpel.tps" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://correlation.bpel.tps" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://correlation.bpel.tps">
      <xsd:element name="BPEL_LOANRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string" />
            <xsd:element name="money" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BPEL_LOANResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BPEL_LOANRequestMessage">
    <wsdl:part name="payload" element="tns:BPEL_LOANRequest" />
  </wsdl:message>
  <wsdl:message name="BPEL_LOANResponseMessage">
    <wsdl:part name="payload" element="tns:BPEL_LOANResponse" />
  </wsdl:message>
  <wsdl:portType name="BPEL_LOANPortType">
    <wsdl:operation name="process">
      <wsdl:input wsaw:Action="http://correlation.bpel.tps/process" message="tns:BPEL_LOANRequestMessage" />
      <wsdl:output wsaw:Action="http://correlation.bpel.tps/BPEL_LOAN/processResponse" message="tns:BPEL_LOANResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BPEL_LOANSOAP11Binding" type="tns:BPEL_LOANPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="process">
      <soap:operation soapAction="http://correlation.bpel.tps/process" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BPEL_LOANSOAP12Binding" type="tns:BPEL_LOANPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="process">
      <soap12:operation soapAction="http://correlation.bpel.tps/process" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BPEL_LOANHttpBinding" type="tns:BPEL_LOANPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="process">
      <http:operation location="BPEL_LOAN/process" />
      <wsdl:input>
        <mime:content part="process" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="process" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BPEL_LOAN">
    <wsdl:port name="BPEL_LOANSOAP11port_http" binding="tns:BPEL_LOANSOAP11Binding">
      <soap:address location="http://localhost:8080/ode/processes/BPEL_LOAN" />
    </wsdl:port>
    <wsdl:port name="BPEL_LOANSOAP12port_http" binding="tns:BPEL_LOANSOAP12Binding">
      <soap12:address location="http://localhost:8080/ode/processes/BPEL_LOAN" />
    </wsdl:port>
    <wsdl:port name="BPEL_LOANHttpport" binding="tns:BPEL_LOANHttpBinding">
      <http:address location="http://localhost:8080/ode/processes/BPEL_LOAN" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>