BPEL_Client/BPEL_Client/Service References/ServiceReference2/No_Correlation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://correlation.bpel.tps" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://correlation.bpel.tps" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://correlation.bpel.tps" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="No_CorrelationRequest">
        <complexType>
          <sequence>
            <element name="input" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="No_CorrelationResponse">
        <complexType>
          <sequence>
            <element name="result" type="int" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="No_CorrelationRequestMessage">
    <wsdl:part name="payload" element="tns:No_CorrelationRequest" />
  </wsdl:message>
  <wsdl:message name="No_CorrelationResponseMessage">
    <wsdl:part name="payload" element="tns:No_CorrelationResponse" />
  </wsdl:message>
  <wsdl:portType name="No_CorrelationPortType">
    <wsdl:operation name="process">
      <wsdl:input wsaw:Action="http://correlation.bpel.tps/process" message="tns:No_CorrelationRequestMessage" />
      <wsdl:output wsaw:Action="http://correlation.bpel.tps/No_Correlation/processResponse" message="tns:No_CorrelationResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="No_CorrelationSOAP11Binding" type="tns:No_CorrelationPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="process">
      <soap:operation soapAction="http://correlation.bpel.tps/process" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="No_CorrelationSOAP12Binding" type="tns:No_CorrelationPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="process">
      <soap12:operation soapAction="http://correlation.bpel.tps/process" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="No_CorrelationHttpBinding" type="tns:No_CorrelationPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="process">
      <http:operation location="No_Correlation/process" />
      <wsdl:input>
        <mime:content part="process" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="process" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="No_Correlation">
    <wsdl:port name="No_CorrelationSOAP11port_http" binding="tns:No_CorrelationSOAP11Binding">
      <soap:address location="http://localhost:8080/ode/processes/No_Correlation" />
    </wsdl:port>
    <wsdl:port name="No_CorrelationSOAP12port_http" binding="tns:No_CorrelationSOAP12Binding">
      <soap12:address location="http://localhost:8080/ode/processes/No_Correlation" />
    </wsdl:port>
    <wsdl:port name="No_CorrelationHttpport" binding="tns:No_CorrelationHttpBinding">
      <http:address location="http://localhost:8080/ode/processes/No_Correlation" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>